@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

/* Navbar Style */
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: initial;
}

.b2b-nav {
    background: #FFFFFF;
    box-shadow: 4px 0px 16px rgba(30, 30, 30, 0.08);
    z-index: 1;
}

.logo-text {
    width: 82px;
    height: 30px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    margin-left: 22px;
}

.nav-icon {
    width: 18px;
    margin-right: 17px;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    transition: color linear 2s;
    margin: 0 5px;
}

.nav-link:hover, .active {
    color: black;
    font-weight: 700;
}

.dropdown-item {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0,0,0,.55);
}

.dropdown-close::after {
    content: url(../img/nav-icons/down.png);
    padding-left: 25px;
}

.dropdown-open::after {
    content: url(../img/nav-icons/up.png);
    padding-left: 25px;
}

.pill {
    margin-left: 2rem;
    font-size: 10px;
    width: 57px;
    height: 16px;
    background: #FF7474;
    border-radius: 22px;
    font-style: normal;
    font-weight: 700;
}

/* Search bar style */
.search-bar-wrapper {
    height: 60px;
    background: #FFFFFF;
    box-shadow: 4px 0px 16px 10px rgba(30, 30, 30, 0.08);
}

.search-bar {
    width: 80%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

#search-icon, #close-btn {
    cursor: pointer;
}

.search-bar:focus {
    outline: none;
}

.search-bar::placeholder {
    color: rgba(0,0,0,.55);
}

/* Style for customers section */
.client-card {
    width: 100%;
    padding: 25px;
}

.client-message-body {
    background: url(../img/clients/quotation.png);
    background-repeat: no-repeat;
    padding: 0 0 0 2.7rem;
    width: 250px;
}

.client-message-body h6 {
    font-weight: 700;
    font-size: 12px;
}

/* Style search result section */
#search-result h4{
    font-weight: 700;
    opacity: 0.5;
    size: 22px;
}

.result-logo {
    border-radius: 2px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    width: 50px;
    height: 50px;
    color: white;
}

.result-card {
    width: 342px;
}

.result-title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.result-link {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.5;
    color: #000;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.result-btn {
    border: 1px solid #FF6059;
    border-radius: 2px;
    color: #FF6059;
    background-color: inherit;
    padding: 7px 10px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    transition: background-color 1s linear;
}

.result-btn:hover {
    background-color: #FF6059;
    color: white;
}

.quick-action-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #000;
    transition: color 0.5s linear;
    margin-bottom: 33px;
}

.quick-action-link:hover {
    color: #FF6059;
}

/* Media query for different screen */
@media only screen and (min-width: 768px) {
    .b2b-nav {
        min-width: 210px;
        height: inherit;
    }

    .search-input-wrapper {
        margin-left: 24px;
        width: 60%;
    }

    .client-card {
        max-width: 28rem;
    }

    .quick-action {
        width: 50%;
    }

    #search-result-row {
        min-width: 800px;
    }
}
